<!-- <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
  <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
    <app-dynamic-form-fields></app-dynamic-form-fields>
  </div>
  <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
    <app-dynamic-selection-table-example></app-dynamic-selection-table-example>
  </div>
</div> -->

<header>
  <mat-toolbar color="primary">Angular 8 Examples with Dynamic Data</mat-toolbar>
</header>

<section class="container">
  <div>
    
    <mat-card >
      <mat-card-header>
        <mat-card-title>Dynamic Form Fields</mat-card-title>
      </mat-card-header>
      <app-dynamic-form-fields></app-dynamic-form-fields>
    </mat-card>
    <mat-card >
      <mat-card-header>
        <mat-card-title>Selection Table With Dynamic Data</mat-card-title>
      </mat-card-header>
      <app-dynamic-selection-table-example></app-dynamic-selection-table-example>
    </mat-card>
    <mat-card >3</mat-card>
    <mat-card >4</mat-card>
  </div>
</section>

<footer></footer>
